/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url(../font/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*!* latin *!*/
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(../font/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.game-frame {
  border-radius: 2px;
}

.game-components {
  margin: auto;
  width: max-content;
}

.game-controls {
  text-align: center;
  padding: 6px;
}

.game-table {
  margin: auto;
  text-align: center;
  padding: 25px;
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgba(66, 208, 255, 1) 0%,
    rgba(0, 120, 180, 1) 100%,
    rgba(0, 61, 184, 1) 100%,
    rgba(9, 0, 153, 1) 100%
  );
}

.table-wrapper {
  padding: 8px;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  position: relative;
  margin: auto;

  background: linear-gradient(
    130deg,
    rgba(0, 199, 57, 1) 0%,
    rgba(226, 1, 1, 1) 53%,
    rgba(226, 255, 0, 1) 100%
  );
}

.menu-item {
  font-family: "Lobster";
  /* color: darkblue; */
  color: darkblue;
  font-size: 19px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.start-button {
  font-size: 26px;
  margin-right: -8px;
}

.start-button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.reveal {
  font-size: 18px;
  padding-right: 20px;
}

.reveal:hover {
  cursor: pointer;
  color: blue;
}

td {
  border: none !important;
}

.sheet-container {
  user-select: none;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: max-content;

  min-width: max-content;
  background: linear-gradient(
    130deg,
    rgba(255, 250, 219, 1) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(218, 243, 255, 1) 100%
  );
}

.progress-bar {
  z-index: 999;
  position: fixed;
  top: 0;
}

.timer-container {
  padding-top: 5px;
  max-width: max-content;
  padding-bottom: 10px;
  font-family: "lobster";
  color: #111;
  font-size: 24px;
  background: linear-gradient(
    0deg,
    rgba(131, 255, 132, 1) 0%,
    rgba(54, 117, 255, 1) 100%
  );
}

.bar-left {
  left: 0;
}

.bar-right {
  right: 0;
}

.timer-left {
  border-radius: 5% 40% 80% 50%;
  padding-left: 0;
  padding-right: 10px;
}

.timer-right {
  border-radius: 40% 5% 80% 50%;
  padding-left: 10px;
  padding-right: 0;
}

.status-trick {
  padding-top: 5px;
  padding-bottom: 18px;
  max-width: max-content;
  font-family: "lobster";
  color: #111;
  font-size: 24px;
}

.status-trick:hover .status-trigger {
  opacity: 0;
  position: fixed;
}

.status-trick:hover .status-content {
  display: block;
  position: relative;
}

.status-trigger {
  position: fixed;
  opacity: 1;

  background: linear-gradient(
    0deg,
    rgba(255, 184, 54, 1) 0%,
    rgba(131, 255, 132, 1) 100%
  );
}

.status-content {
  background: linear-gradient(
    0deg,
    rgba(255, 184, 54, 1) 0%,
    rgba(131, 255, 132, 1) 100%
  );

  display: none;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 30px;
}

.scoreboard-item {
  white-space: nowrap;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.score {
  position: relative;
  display: inline-block;
}

.score:hover .score-details {
  visibility: visible;
}

.score-details {
  /* visibility: hidden; */
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /* display: none; */
}

.result-item {
  margin: -5px;
}

.text {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100px;
  font-family: "Indie Flower";
}

.status-left {
  border-radius: 10% 50% 45% 50%;
  padding-left: 5px;
  padding-right: 10px;
}

.hover-trick {
  font-family: "lobster";
  color: #111;
  font-size: 24px;

  text-align: right;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
}

.hover-trick:hover > .hover-content {
  opacity: 1;
  display: block;
  position: relative;
}

.hover-trick:hover .hover-trigger {
  opacity: 0;
  position: fixed;
}

.hover-trigger {
  background: linear-gradient(
    0deg,
    rgba(255, 184, 54, 1) 0%,
    rgba(131, 255, 132, 1) 100%
  );
}

.hover-content {
  background: linear-gradient(
    0deg,
    rgba(255, 184, 54, 1) 0%,
    rgba(131, 255, 132, 1) 100%
  );

  opacity: 0;
  display: none;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 30px;
  border-radius: 40% 5% 40% 70%;
  margin-bottom: 70px;
  margin-left: 20px;
}

.status-right {
  border-radius: 50% 5% 40% 40%;
  padding-left: 10px;
  padding-right: 5px;
}

.controls {
  position: relative;
  padding: 10;
}

.show-results {
  align-items: center;
  text-align: center;

  width: 250px;
  height: 200px;
  position: absolute;
  background: linear-gradient(
    130deg,
    rgba(136, 238, 195, 1) 0%,
    rgba(12, 81, 115, 1) 100%
  );

  border-radius: 10px;
  box-shadow: #111 2px 2px 6px;

  margin-top: -100px;
  top: 50%;

  margin-left: -125px;
  left: 50%;
}

.sheet-head {
  text-align: center;
  padding: 20px;
}

.menu-trigger {
  text-align: -moz-right;
}

img {
  border-radius: 5px;
  box-shadow: 2px 2px 10px #808080;
}

canvas {
  border-radius: 5px;
  box-shadow: 2px 2px 10px #808080;
}

img:hover {
  cursor: pointer;
  box-shadow: 4px 3px 12px #808080;
}

span {
  margin-left: 5px;
  margin-right: 5px;
}

/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes 
out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100px;
  height: 150px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.clicked {
  transform: rotateY(180deg);
}

.hide {
  transform: rotateY(90deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

ul {
  width: fit-content;
  list-style-type: none;
  margin: auto;
}

body {
  /* font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: "Indie Flower";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #eeeeee;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster";
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 16px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}

.sheet-body {
  max-width: 600px;
  margin: auto;
}